<%- include('./partials/header.ejs') %>
<%- include('./partials/homeNavbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem Vindo!</h1>
            <p class="lead">Este é um simples blog do GuiaPress</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-dark btn-lg" href="/admin/articles" role="button">Saiba Mais</a>
            </p>
        </div>
        <hr>

        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/article/<%= article.id %>" class="btn btn-info">Ler artigo</a>
                </div>
            </div>
            <br>
        <% 	}) %>

        <div class="row">
            <div class="col col-12">
               <a href="/articles/page/2" style="float: right;">Next >>></a>
            </div>
        </div>
        <hr>
    </div>
</body>

<%- include('./partials/footer.ejs') %>